<div class="footer">
  <div class="container py-4">
    <div class="row">
      <div class="col cc mb-4"><a href="https://www.linkedin.com/in/mat%C3%BA%C5%A1-jurika-9522841b5/" target="_blank"
          rel="noopener" title="Linkedin">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="https://stackoverflow.com/users/9999155/matus-jurika" target="_blank" rel="noopener"
          title="StackOverflow">
          <i class="fab fa-stack-overflow"></i>
        </a>
        <a href="https://github.com/mjurika" target="_blank" rel="noopener" title="GitHub">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <div class="col cc mb-4">
        <a [routerLink]="['']" fragment="about">O mne</a>
        <a [routerLink]="['']" fragment="projects">Projekty</a>
        <a [routerLink]="['contact']">Kontakt</a>
      </div>
    </div>

    <div class="cc">
      <div class="small">©{{year}} Matúš Jurika</div>
    </div>
  </div>
</div>