<section class="container py-4" id="about">
  <h2 class="cc">O mne</h2>
  <div class="row mb-4 justify-content-center">
    <div class="col-md-8">
      Som <b>Web Developer</b>, ktorý sa snaží držať krok s najnovšími technológiami a postupmi, aby som splnil svoj
      cieľ -
      používateľský zážitok.
      <br><br>
      Momentálne sa venujem vývoju aplikácii najmä v najnovšej verzii <b>Angularu</b> a rád sa podieľam na analýze a
      návrhu nových funkčností.
    </div>
  </div>
  <div class="row mb-4 justify-content-center">
    <div class="col-md-8">
      <h3>Vzdelanie</h3>
      <div><b>Ing</b></div>
      <div>Fakulta informatiky a informačných technológií STU</div>
      <div class="secondary">Bratislava, Slovensko 2013 – 2019</div>
    </div>
  </div>
  <div class="row mb-4 justify-content-center">
    <div class="col-md-8">
      <h3>Certifikáty</h3>
      <div><b>Exam 480: Programming in HTML5 with JavaScript and CSS3</b></div>
      <div>Microsoft</div>
      <div class="secondary">2019</div>
      <a class="link" href="https://www.youracclaim.com/badges/04fa6795-e965-478a-a599-c551d2eda3e7/public_url"
        target="_blank" rel="noopener">Detail</a>
    </div>
  </div>
</section>