<section class="container  py-4" id="projects">
  <h2 class="cc">Projekty</h2>
  <div class="row mb-4 justify-content-center">
    <div class="col-md-8">
      <h3>Mapový klient ZBGIS</h3>
      <app-badges [badges]="['knockoutjs', 'arcgisjs', 'materializecss', 'ASP.NET MVC']"></app-badges>
      <a class="link mb-1" href="https://zbgis.skgeodesy.sk/mkzbgis/" target="_blank" rel="noopener">zbgis.sk</a>
      <div>ZBGIS Map client has been developed to display and work with ZBGIS data. The application also allows to work
        with external data in the form of WMS, WMTS services and vector data in multiple formats.</div>
    </div>

    <div class="col-md-8">
      <h3>Zoznam stavieb</h3>
      <app-badges [badges]="['knockoutjs', 'arcgisjs', 'materializecss', 'ASP.NET MVC']"></app-badges>
      <a class="link mb-1" href="https://zbgis.skgeodesy.sk/mkzbgis/" target="_blank" rel="noopener">zbgis.sk</a>
      <div>ZBGIS Map client has been developed to display and work with ZBGIS data. The application also allows to work
        with external data in the form of WMS, WMTS services and vector data in multiple formats.</div>
    </div>
  </div>
</section>