<section class="container  py-4" id="projects">
  <h2 class="cc">Projekty</h2>
  <div class="row mb-4 justify-content-center">
    <div class="col-md-8 pb-3">
      <div class="row justify-content-between align-items-center mt-3 mb-2">
        <h3 class="col">Mapový klient ZBGIS</h3>
        <div class="col-auto secondary-text">2016 - present</div>
      </div>
      <app-badges [badges]="['knockoutjs', 'arcgisjs', 'materializecss', 'ASP.NET MVC']"></app-badges>
      <div class="secondary-text mb-1">Mapový klient na zobrazenie ZBGIS dát, údajov katastra atď.</div>
      <a class="link mb-1" href="https://zbgis.skgeodesy.sk/mkzbgis/" target="_blank" rel="noopener">zbgis.sk</a>
      <div>
        <ul>
          <li>Vývoj FE a mapovej časti</li>
          <li>Zodpovednosť za UI</li>
          <li>Analýza a prototypovanie funkčností</li>
          <li>Údržba a zapracovávanie zmenových požiadaviek</li>
        </ul>
      </div>
    </div>

    <div class="col-md-8 pb-3">
      <div class="row justify-content-between align-items-center mt-3 mb-2">
        <h3 class="col">Mapový klient ZBGIS (technologický upgrade)</h3>
        <div class="col-auto secondary-text">2019 - present</div>
      </div>
      <app-badges [badges]="['angular', 'rxjs', 'angular-material', 'akita', 'arcgisjs', '.NET core']"></app-badges>
      <a class="link mb-1" href="https://zbgis.skgeodesy.sk/mkzbgis/" target="_blank" rel="noopener">zbgis.sk</a>
      <div>
        <ul>
          <li>Vývoj a návrh architektúry celej FE časti riešenia</li>
          <li>Zodpovednosť za použité knižnice (komponenty, moduly, state managment)</li>
        </ul>
      </div>
    </div>

    <div class="col-md-8 pb-3">
      <div class="row justify-content-between align-items-center mt-3 mb-2">
        <h3 class="col">Zoznam stavieb</h3>
        <div class="col-auto secondary-text">2017 - 2019</div>
      </div>
      <app-badges [badges]="['knockoutjs', 'arcgisjs', 'materializecss', 'ASP.NET MVC']"></app-badges>
      <div class="secondary-text mb-1">Slúži na evidenciu kolaudačných rozhodnutí stavieb po roku 2014. Využívaná najmä
        pracovníkmi obecných
        úradov.</div>
      <a class="link mb-1" href="https://zoznamstavieb.skgeodesy.sk/restclient/" target="_blank"
        rel="noopener">zoznamstavieb.skgeodesy.sk</a>
      <div>
        <ul>
          <li>Vývoj FE a mapovej časti</li>
          <li>Zodpovednosť za UI</li>
          <li>Analýza a prototypovanie funkčností</li>
          <li>Údržba a zapracovávanie zmenových požiadaviek</li>
        </ul>
      </div>
    </div>

    <div class="col-md-8 pb-3">
      <div class="row justify-content-between align-items-center mt-3 mb-2">
        <h3 class="col">Zoznam stavieb (technologický upgrade)</h3>
        <div class="col-auto secondary-text">2020 - present</div>
      </div>
      <app-badges [badges]="['angular', 'rxjs', 'angular-material', 'akita', 'arcgisjs', '.NET core', 'JWT']">
      </app-badges>
      <a class="link mb-1" href="https://zoznamstavieb.skgeodesy.sk/restclient/" target="_blank"
        rel="noopener">zoznamstavieb.skgeodesy.sk</a>
      <div>
        <ul>
          <li>Vývoj a návrh architektúry celej FE časti riešenia</li>
          <li>Zodpovednosť za použité knižnice (komponenty, moduly, state managment)</li>
        </ul>
      </div>
    </div>

    <div class="col-md-8 pb-3">
      <div class="row justify-content-between align-items-center mt-3 mb-2">
        <h3 class="col">ESKN Portal</h3>
        <div class="col-auto secondary-text">2015 - 2017</div>
      </div>
      <app-badges [badges]="['jquery', 'AJAX', 'ASP.NET MVC']"></app-badges>
      <div class="secondary-text mb-1">Slúži na prehliadanie údajov katastra nehnuteľností.</div>
      <a class="link mb-1" href="https://kataster.skgeodesy.sk/Portal" target="_blank"
        rel="noopener">kataster.skgeodesy.sk/Portal</a>
      <div>
        <ul>
          <li>Vývoj FE časti</li>
          <li>Podpora</li>
        </ul>
      </div>
    </div>

    <div class="col-md-8 pb-3">
      <div class="row justify-content-between align-items-center mt-3 mb-2">
        <h3 class="col">Konverzná a transformačná služba</h3>
        <div class="col-auto secondary-text">2016 - 2017</div>
      </div>
      <app-badges [badges]="['jquery', 'knockoutjs', 'bootstrap', 'ASP.NET MVC']"></app-badges>
      <div class="secondary-text mb-1">Slúži na konverziu medzi súradnicovými systémami a transformáciu rôznych mapových
        súborov.</div>
      <a class="link mb-1" href="https://zbgis.skgeodesy.sk/rts/sk/Transform" target="_blank"
        rel="noopener">zbgis.skgeodesy.sk/rts</a>
      <div>
        <ul>
          <li>Vývoj FE časti</li>
          <li>Návrh a implentácia UI</li>
          <li>Podpora</li>
        </ul>
      </div>
    </div>

  </div>
</section>