@import 'abstracts/variables';
@import 'abstracts/spacers';
@import 'abstracts/mixins';

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './hamburgers/hamburgers.scss';

html,
body {
	height: 100%;
	scroll-behavior: smooth;
	line-height: 1.5;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;

	.mat-button-base {
		text-transform: uppercase;
		line-height: 40px;
		padding: 0 20px;
		border-radius: 20px;
		box-shadow: 0 10px 20px rgba(0, 40, 94, 0.3), 0 6px 6px rgba(32, 191, 85, 0.25) !important;
		transition: all 0.5s ease;

		&.mat-raised-button {
			background: $gradient;
			color: white;
		}

		&.mat-stroked-button {
			background: white;
			line-height: 38px;

			.mat-button-wrapper {
				@include gradient-font;
			}
		}

		&:hover,
		&:focus {
			transform: translateY(-3px);
			box-shadow: 0 20px 40px rgba(0, 40, 94, 0.3), 0 12px 12px rgba(32, 191, 85, 0.25) !important;
		}
	}

	.link {
		display: inline-block;
		color: $blue;
		text-decoration: none;

		&:hover {
			@include gradient-font;
		}
	}

	.secondary {
		color: #6c757d;
	}
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 32px;
}

.cc {
	display: flex;
	align-items: center;
	justify-content: center;
}
