<section class="hero">
    <div class="head cc">
        <div class="avatar">
            <div class="avatar-border cc">
                <img src="assets/headshot.jpg">
            </div>
        </div>
        <article>
            <h1>Matúš Jurika</h1>
            <h2>Web Developer s citom pre UX</h2>
            <button mat-raised-button href="http://m.me/matus.jurika" target="_blank">Kontaktovať</button>
        </article>
    </div>
    <div class="projects cc">
        <!-- <button mat-button>Projekty</button> -->
    </div>
    <div class="technologies">
        <div class="container flex-grow-1 d-flex justify-content-around align-items-center">
            <i class="fab fa-angular"></i>
            <i class="fab fa-js-square"></i>
            <i class="fab fa-css3-alt"></i>
            <i class="fab fa-html5"></i>
        </div>
    </div>
</section>