<section class="hero">

    <div class="header container d-flex justify-content-center align-items-center">
        <div class="d-flex justify-content-center flex-grow-1 flex-shrink-1">
            <div class="avatar-border d-flex justify-content-center align-items-center">
                <div class="avatar">
                    <img src="assets/headshot.jpg">
                </div>
            </div>
        </div>
        <article class="flex-grow-1">
            <h1>Matúš Jurika</h1>
            <h2>Front-end developer s citom pre UX</h2>
            <a mat-raised-button href="http://m.me/matus.jurika" target="_blank">Kontaktovať</a>
        </article>
    </div>
    <div class="technologies">
        <div class="container flex-grow-1 d-flex justify-content-around align-items-center">
            <div>Angular</div>
            <div>JavaScript</div>
            <div>CSS3</div>
            <div>HTML5</div>
            <div>C#</div>
        </div>
    </div>
</section>